
.left10{
    padding-left: 20%;
}

.left50{
    padding-left: 40%;
}
.left30{
    padding-left: 20%;
}
.top10{
    padding-top: 3%;
}
.top20{
    padding-top: 5%;
}
.top30{
    padding-top: 10%;
}
.right10{
    padding-right: 30%;
}
.bottom10{
    padding-bottom: 10%;
}
li {
    margin-right: 30px;
}


.a1 {
 font-family:  monospace;
 font-size: 30px;
 color: black;
 font-weight: bold;
}

.a2 {
    font-family:  monospace;
    font-size: 26px;
    color: black;
   }

.f1 {
    font-family:  monospace;
   }

.img1{
    width: 100%;
    height: 700px;
    object-fit: cover;
    opacity: 0.9;
}
.img2{
    width: 80%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px;
}
.img3{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.img4{
    width: 70%;
    height: 65%;
    object-fit: fill;
    border-radius: 8px;
}

.img5{
    width: 5%;
    height: 5%;
    object-fit: fill;
    border-radius: 20px;
}
.img6{
    width: 70%;
    height: 65%;
    object-fit: fill;
    border-radius: 8px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .a4:link {
    color: darkgray;
    background-color: transparent;
    text-decoration: none;
  }
  .a4:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
  }
  .a4:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  .a4:active {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
  }



.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}