/* Weather Container */
.weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Space between items */
    color: rgb(132, 132, 245);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

/* Weather Icon */
.weather-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
    .weather-container {
        flex-direction: column;
        text-align: center;
    }
}



.profile-photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%; /* Makes the image circular */
    border: 5px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
